# Dependencies — NEVER commit these
node_modules/
**/node_modules/



# Build outputs
dist/
build/
**/dist/
**/build/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.sw?

# Vite cache
.vite/
